@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.cardstyle {
    width: 18rem;
}

.cardImage {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.jumbotron{
    // height: 100%;
    // width: 100%;
    background-image: url(http://media.moddb.com/images/downloads/1/66/65343/-_-cats-cats-22066039-1280-1024.jpg); 
    // url("https://media.istockphoto.com/photos/cat-in-a-red-car-3-picture-id872320170?k=6&m=872320170&s=612x612&w=0&h=xeuIpiUC9qoLeB8ZPPWU7FcwGOb2AiFViJG5RJBCHMQ=");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}